################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClassLibrary1/.vs/MCICore/v15/Server/sqlite3
/ClassLibrary1/DBModelling/DBModelling.dbmdl
/ClassLibrary1/DBModelling/DBModelling.jfm
