################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClassLibrary1/.vs/MCICore/v15/Server/sqlite3
